/* Body */
#town {
    background-color: rgb(79, 158, 228);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

body {
    background-image: url('./images/Nashville-Road-Map.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* Button */
#back-button {
    width: 250px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 50px;
}

#back-button:hover {
    opacity: 1;
    background-color: rgb(79, 158, 228); 
    color: white;
}

#back-button:active {
    transform: translateY(4px);
}

/* Results */
.container {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#results, #location {
    background-color: rgb(69, 69, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(235, 233, 233);
    border-style: groove;
    text-align: center;
}