#button {
    width: 250px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border-radius: 50px;
}

#button:hover {
    opacity: 1;
    background-color: rgb(74, 75, 97); 
    color: white;
}

#button:active {
    transform: translateY(4px);
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(235, 233, 233);
    border-style: groove;
    background-color: rgb(69, 69, 102);
}